<% layout('/layouts/boilerplate') %>
    <div class="row mt-3">
        <div class="col-md-6 col-12 ">
            <h1 class="text-primary">
                <%= student.prezime %>
            </h1>
            <h5 class="mb-4">
                <%= student.ime %>
            </h5>
            <h5>Osobni podaci:</h5>
            <div class="list-group mb-4">
                <div class="list-group-item">Id: <%= student._id %></div>
                <div class="list-group-item">Dob: <%= student.dob %></div>
                <div class="list-group-item">Status: <%= student.status %></div>
            </div>

            <div class="d-flex flex-wrap">
                <a class="btn btn-primary me-2 mb-2" href="/admin/studenti/edit/<%= student._id %>">Uredi</a>
                <form action="/admin/studenti/<%= student._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger mb-2">Obrisi</button>
                </form>
            </div>

        </div>
        

    </div>